<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.username %>様、Seafood Shopでのお買い上げありがとうございます。</h1>
    <p>
      Seafood Shopでのご購入が完了しました。
      お買い上げ内容は下記の通りです。<br>
      - お客様情報 -<br>
      First name: <%= @order.first_name %><br>
      Last name: <%= @order.last_name %><br>
      Username: <%= @order.username %><br>
      Email: <%= @order.email %><br>
      Address: <%= @order.address %><br>
      Address2: <%= @order.address2 %><br>
      Country: <%= @order.country %><br>
      Prefecture: <%= @order.prefecture %><br>
      Zip: <%= @order.zip %><br>
      Name on card: <%= @order.name_on_card %><br>
      Credit card number: <%= @order.credit_card_number %><br>
      Expiration: <%= @order.expiration %><br>
      CVV: <%= @order.cvv %><br>
      <br>
      - お買い上げ明細 -<br>
      <% @order.order_details.each do |order_detail| %>
        商品名：<%= order_detail.merchandise.name %><br>
        数量：<%= order_detail.quantity %><br>
        小計：¥<%= order_detail.amount.to_formatted_s(:delimited) %>-<br>
      <% end %>
      discount_amount: ¥ <%= @order.discount_amount.to_formatted_s(:delimited) %>-<br>
      Total amount: ¥<%= @order.total_amount.to_formatted_s(:delimited) %>-<br>
    </p>
    <p>本サイトにてお買い上げいただき誠にありがとうございます。</p>
  </body>
</html>
